<section class="search-results">
{{#each records}}
<h5>{{name}}</h5>
<div class="single-result">
    <img src="{{images.[0].url}}" alt="Poster Image">
</div>
<div>
  <a href="/albums/{{id}}">View Album</a>
    </div>

{{/each}}

</section>



 <!--<form action="/albums/:artistId" method="GET">
       <button>View Albums</button>
   </form>-->
