<section class="homepage">


    <form class="form-design" action="/artist-search" method="GET" >
<input class="input-design" type="search" placeholder="artist's name" name="q"/>
<div >
<button class="button-design">Search for an Artist</button>
</div>
</form>

</section>