.homepage {
  background-image: url('../images/spotify-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

body {
  font-family: sans-serif;
}

.form-design {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px 150px;
  margin: 400px;
  background-color: rgba(255, 255, 255, 0.5);
}

.input-design {
  background-color: white;
  border-style: solid 1px black;
  font-size: 12px;
  width: 20em;
  height: 2em;
  display: flex;
  flex: 1;
  margin: 5px;
  padding: 10px;
}

.button-design {
  background-color: red;
  color: white;
  font-size: 12px;
  border-style: none;
  width: 20em;
  height: 2em;
  padding: 10px;
  text-align: center;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
}

.single-result img {
  width: 25%;
  padding: 1em;
}
